@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

:root {

    --main-color: #583101;
}


* {

    font-family: 'Dancing Script', cursive;
}


body {

    background-image: url(assets/pictures/tile.jpg);
    background-size: auto;
    height: 100%;
}


h1 {

    text-align: center;
    font-size: 70px;
    color: var(--main-color);
    text-shadow: 4px 4px beige;

}


form {

    background-image: url(assets/pictures/formbg.jpg);
    text-align: center;
    border-radius: 70px 5px;
    margin: auto;
    width: 650px;
    position: relative;
    top: 20px;
}


#taskBox::placeholder {

    font-size: large;
    color: var(--main-color);
}


#taskBox {

    font-size: 22px;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    background: unset;
    height: 66px;
    width: 400px;
    border-radius: 10px;
    position: relative;
    top: 14px;
    left: 30px;
    box-sizing: border-box;
    padding: 10px;
    resize: none;
}


#taskBoxErr {

    position: relative;
    bottom: 25px;
    left: 35px;
    color: crimson;
    font-size: medium;
}


#dateBox {

    font-size: large;
    color: var(--main-color);
    border-color: var(--main-color);
    position: relative;
    top: 41px;
    border-radius: 10px;
    margin-left: 5px;
    text-align: center;
    width: 140px;
    height: 32px;

}


#timeBox {

    font-size: large;
    color: var(--main-color);
    border-color: var(--main-color);
    position: relative;
    top: 41px;
    border-radius: 10px;
    margin-left: 10px;
    text-align: center;
    width: 180px;
    height: 32px;
}


.displayNote {

    background-image: url(assets/pictures/notebg.png);
    background-repeat: no-repeat;
    color: var(--main-color);
    width: 180px;
    font-size: large;
    height: 250px;
    padding: 10px;
    margin: 15px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    top: 150px;
    left: 50px;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 2;
    }
}


form button {

    position: relative;
    top: 90px;
    border-radius: 10px;
    width: 200px;
    padding: 9px;
    font-size: x-large;
    color: var(--main-color);
    border-color: var(--main-color);
    margin: 10px;
}


form button:hover {

    background-color: var(--main-color);
    color: antiquewhite;
}


p:first-child {

    height: 150px;
    width: 160px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
}


div>p>i {
    position: relative;
    bottom: 246px;
    left: 147px;
    visibility: hidden;
}

div i:hover {

    cursor: pointer;
}

.timeValue {

    position: relative;
    bottom: 25px;
    font-size: medium;
}

.dateValue {
    position: relative;
    bottom: 10px;
    font-size: medium;
}


hr {

    position: relative;
    bottom: 15px;
    border-top: 4px dashed var(--main-color);
    border-bottom: unset;
}


/* 
@media only screen and (max-width:800px) {


    .main {
        width: 80%;
        padding: 0;
    }

    .right {
        width: 100%;
    }
}

@media only screen and (max-width:500px) {

    .menu,
    .main,
    .right {
        width: 100%;
    }
} */